.social_icon {
  display: inline-block;
  background-position: 0px 0px;
  margin: 2.5px;
  width: 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #CCC;
  padding-left: 18px;
  height: 22%;
  font-size: 1.3em;
  line-height: 2.8em; }
  .social_icon:hover {
    color: #CCC; }
  .social_icon:active {
    color: #CCC; }
  .social_icon:visited {
    color: #CCC; }

#share_popup {
  top: 43px;
  right: 5px;
  z-index: 5000;
  padding: 12px 0 0; }
  #share_popup:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 12px solid black;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    top: 0;
    right: 10px; }

#share_popup_background {
  background: #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 25px; }

.social_icon {
  background-image: none !important;
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  color: white; }
  .social_icon:before {
    font-family: 'FontAwesome';
    content: "\f0d4 ";
    margin-right: 10px; }

.social_icon_facebook:before {
  content: "\f082 "; }

.social_icon_twitter:before {
  content: "\f081 "; }

.social_icon_pinterest:before {
  content: "\f0d3 "; }
